body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   font-size: large;
}

.cabecalho{
    color: white;
    background-color:rgb(190, 150, 103);
    text-align: center;
    padding: 30px;
}

.cabecalho h1{
    color: rgb(94, 64, 31);
}

.cabecalho h3{
    color:  rgb(105, 80, 52);
}

.footer{
    background-color:rgb(151, 112, 67);
    color: white;
    text-align: center;
    padding: 5px;
}
.bg-emelly{
    background-color: rgb(151, 112, 67);
}

  /* Blocos de conteúdo com imagem */
  .content-block {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 80px 40px;
    background-color:  #d6ba8a ;
    flex-wrap: wrap;
  }
  
  .content-block.reverse {
    flex-direction: row-reverse;
  }
  
  .content-block img {
    width: 400px;
    border-radius: 12px;
    object-fit: cover;
  }
  
  .content-block .text {
    max-width: 600px;
  }
 
h2{
  color: rgb(73, 45, 8);
}



    /* Cartões */
  .card-section {
    background-color: #d6ba8a ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .card {
    background-color:  #e6d2b0 ;
    padding: 30px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-8px);
  }
  
  .card h3 {
    margin-bottom: 17px;
  }