body{
    background-color:  #d6ba8a ;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.cabecalho{
    color: white;
    background-color: rgb(190, 150, 103);
    text-align: center;
    padding: 30px;
}

.cabecalho h1{
    color: rgb(94, 64, 31);
}
.cabecalho h3{
    color: rgb(105, 80, 52);
}

p .alinha{
    text-align: right;
    
}
.img-agro{
    width: 300px;
}

.br-3{
    border-radius: 15px;
}

.img-card{
    max-height: 250px;
}

.img-slide{
    max-height: 500px;
}

.footer{
    background-color: rgb(151, 112, 67);
;
    color: white;
    text-align: center;
    padding: 5px;
}
.bg-emelly{
    background-color:  rgb(151, 112, 67);
}
.bg-emelly2{
    background-color: #e9dfce;
}
.bg-emelly3{
    background-color:  #e9dfce;
}
h2{
    color: rgb(73, 45, 8);
}
h3{
    color: rgb(73, 45, 8);
  
}
.bg-emelly4{
    background-color: rgb(145, 105, 58);
}
 
